.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.title{
  background-color: #9244A1;
  color: white;
}
.change{
  border: none;
  box-shadow: none;
}
.id{
  width: 4%;
}
.user_id{
  width: 6%;
}
.td-cost{
  width:15%;
}
.td-type{
  width:15%;
}
.td-date{
  width:22%;
}
.td-edit{
  width:10%;
}
.form-inline .form-control{
  width: 100%;
}
.cost{
  padding-left: 45px;
}
.type{
  padding-left: 40px;
}
.description{
  padding-left: 29px;
}
.date{
  padding-left: 118px;
}
.edit{
  margin-left: 146px;
}
.cancel{
  margin-left: 83px;
}